

*:focus{
    outline: none;
}

.box{
    box-sizing: border-box;
    width: 360px;
    height: 500px;
    border: 2px solid #3498db;
    box-shadow: -3px -3px 7px #ffffff73,
                    3px 3px 5px rgba(94,104,121,0.228);
    border-radius: 5px;
    background-color: white;
    margin-top: 50px;
    overflow: hidden;
}
.box img{
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 3px solid #0082e6;
    padding: 3px;
    background-color: white;
    font-family: "Robonto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="file"]{
    margin-left: 20.2%;
}

.box input[type="text"],
input[type="email"]{
    display: block;
    box-sizing: border-box;
    background: none;
    color: #3498db;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #0082e6;
}

.box input[type="text"]:focus,
input[type="email"]:focus{
    border-bottom: 2px solid #3498db;
    /* border-top-right-radius: ; */
    color: #3498db;
    transition: 0.2s ease;
}

.box label{
    margin: 10px;
    margin-bottom: 20px;
}